@import "tailwindcss";



*, * >, body, html {
  padding: 0;
  margin: 0;
  
}

.barlow-reg {
  font-family: "Barlow", sans-serif;
}
.barlow {
  font-family: "Barlow Condensed", sans-serif;
}
.Bellefair {
  font-family: "Bellefair", serif;
}

@theme {
  --color-white : #D0D6F9 ;
  --color-white-Pure : #FFFFFF ; 
  --spacing-header : 24px;
  --spacing-nav-mobile : 88px;
}

.hover{
    border-right: 2px;
}
/* .hover:hover {
    border-right: 2px;
} */


