@import "tailwindcss";



*, * >, body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 1rem;
}

.barlow-reg {
  font-family: "Barlow", sans-serif;
}
.barlow {
  font-family: "Barlow Condensed", sans-serif;
}
.Bellefair {
  font-family: "Bellefair", serif;
}

@theme {
  --color-white : #D0D6F9 ;
  --color-white-Pure : #FFFFFF ; 
  /* the spacing for x axis of nav bar itself */
  --spacing-header-mobile : 1.5rem;
  --spacing-header-Tablet: 2.5rem;
  --spacing-header-desktop: 4rem;
  /* the spacing of main element (context) from 
  zero of top-0 of the page (from top of desktop) */
  --spacing-nav-mobile :5.5rem;
  --spacing-nav-Tablet : 10rem;
  --spacing-nav-Tablet-home : 7.75rem;
  --spacing-nav-desktop : 25vh;
  --spacing-nav-lg-desktop-home : 20rem;
  --spacing-nav-lg-desktop : 20vh;
  --spacing-nav-xlg-desktop : 20vh;
  --spacing-xlg-desktop-title-distance : 10rem;

  /* the padding for the main element(context) 
  from the x side of the page  */
  --spacing-desktop : 64px;
  --spacing-desktop-lg : 165px;
  --spacing-desktop-xlg : 265px;

  --width-tablet : 514px;
  --width-desktop : 314px;
  --width-desktop-destination : 414px;
  --width-desktop-xlg-destination-desc : 950px;
  --width-desktop-lg-technology-desc : 400px;
  --width-desktop-slg-technology-desc : 40vw;
  --width-desktop-xlg-technology-desc : 850px;
  --width-desktop-xlg-home-desc : 850px;
  --width-desktop-xlg-destination : 614px;
  --width-desktop-xlg: 700px;
  
  --breakpoint-sm: 660px;
  --breakpoint-md: 660px;
  --breakpoint-lg: 980px; 
  --breakpoint-slg: 1024px;
  --breakpoint-xlg: 1900px;
}

.hover{
    border-right: 2px;
}
/* .hover:hover {
    border-right: 2px;
} */

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, and Opera */
}
